*{
	margin: 0px;
	padding: 0px;
}
*::-webkit-input-placeholder {
    color: black;
    opacity: 0.3;
}
body{
	background-color: #ebeff2;
	font-family: 'Open Sans', sans-serif;
}
/*       R E S E T S       */

a:link, a:visited{
	text-decoration: none;
	color: #2d404d;
}
a:hover{

}

ul{
    list-style:none;
}

.not-active{
    pointer-events: none;
    cursor: default;
}

/*       H E A D E R       */ 

#top{
	background-color: #f0695e;
	height: 56px;
}
#logo{
    float:left;
    width:10%;
    height: 56px;
	display: inline-block;
}
#logo img{
    width: 100%;
    height:100%;
}
#search_button{
	font: 13px sans-serif;
	background-color: #f2a393;
	width: 168px;
	height: 28px;
	border: 0px;
	color: #1b1b1b;
}
#search_button :focus{
	outline: none;
}
#line{
	border-left: solid 2px #ebeff2;
}
nav{
    width:70%;
	float: right;
    text-align: right;
	display: inline-block;
}
nav li {
	font-size: 17px;
	list-style-type: none;
    display: inline;
    margin: 0% 2%;
	color: #f27e74
}

/* A S I D E */
aside{
	background-color: #2d404d;
	width: 17%;
	height: 600px;
	float: left;
}
aside li{
    padding: 5% 3%;
    border-bottom: solid #67757e 1px;
}
.side_links a:link, .side_links a:visited, .side_links a:active{
    color:#ebeff2;
}
.side_links a:hover{

}
.friends a:link, .friends a:visited, .friends a:active{
    font-style: italic;
}
.friends a:hover{

}
.clear{
	clear: both;
}
.widget{
	float: right;
}

/* S C R O L L  B A R */
::-webkit-scrollbar {
    width: 5px;
}
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 20px rgba(45,64,77,0.2);
    border-radius: 5px;
}
::-webkit-scrollbar-thumb {
    border-radius: 5px;
    -webkit-box-shadow: inset 0 0 20px rgba(0,0,0,0.4);
}
