#profile{
    float:right;
    width:60%;
    margin: 3% 10%;
    display: inline-block;
}
#profile_pic{
    width:18%;
    height:150px;
    float: left;
}
#profile_pic img{
    width: 100%;
    height:100%;
}
#profile_info{
    display: inline-block;
    width:50%;
    margin: 6% 0% 0% 5%;
}
.details{
    margin: 3% 0%;
}
#profile_joke{
    margin-top: 3%;
}